html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-webkit-input-placeholder {
  color: #ababab !important;
}
:-moz-placeholder {
  color: #ababab !important;
}
::-moz-placeholder {
  color: #ababab !important;
}
:-ms-input-placeholder {
  color: #ababab !important;
}
body #chatbox-holder {
  display: block;
  position: absolute;
  bottom: 0;
  right: 26px;
}
body .container {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
body header {
  display: block;
  position: relative;
  width: 100%;
  height: 69px;
  background: transparent;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
}
body header .container {
  clear: both;
  padding-top: 10px;
}
body header .container h1 {
  display: block;
  position: relative;
  float: left;
  width: 81px;
  height: 52px;
  background: url("../res/img/sprite.png");
  text-indent: -99999px;
}
body header .container button {
  display: block;
  position: relative;
  float: right;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: #888;
  text-align: none;
  text-transform: none;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}
body footer {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  background: #ebebeb;
  bottom: 0;
  min-height: 32px;
  padding-bottom: 10px;
}
body footer .container .content {
  font-family: Arial;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
  text-align: left;
  text-transform: none;
  padding: 12px 0 0 66px;
  border-top: 1px solid #005da4;
}
body footer .container .content a {
  text-decoration: none;
  color: #005da4;
}
body footer .container .content span {
  display: inline-block;
  margin: 0 10px;
  color: #d5d5d5;
}
body footer .container .content strong {
  position: relative;
  font-weight: normal;
}
body footer .container .content strong:before {
  display: block;
  position: absolute;
  width: 51px;
  height: 29px;
  background: url("../res/img/sprite.png") -94px -10px;
  top: -7px;
  left: -66px;
  content: "";
}
@media all and (max-width: 767px) {
  #chatbox-holder {
    position: fixed !important;
    width: 100%;
    height: 100%;
    right: 0 !important;
  }
  .container {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 85%;
  }
}
@media all and (min-width: 992px) and (max-width: 1119px) {
  .container {
    width: 90%;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
