<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/catho.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>Catho</h1>
			<button>Login</button>
		</div>
	</header>
	<footer>
		<div class="container">
			<div class="content">
				<strong>Catho Online Ltda.</strong> <span>|</span> CNPJ: 03.753.088/0001-00 <span>|</span> Alameda Juari, 262 - Barueri, SP - 06460-090 <span>|</span> <a href="#">Política de Privacidade</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/catho.js"></script>
</body>
</html>