<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no"/>
	<!--[if lt IE 9]>
		<script src="//html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="/static/css/catho.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>Catho</h1>
			<button>Login</button>
		</div>
	</header>
	<footer>
		<div class="container">
			<div class="content">
				<strong>Catho Online Ltda.</strong> <span>|</span> CNPJ: 03.753.088/0001-00 <span>|</span> Alameda Juari, 262 - Barueri, SP - 06460-090 <span>|</span> <a href="#">Política de Privacidade</a>
			</div>
		</div>
	</footer>


	<div id="chatbox-holder">
		<div id="chatbox">
			<div class="header">
				<div class="title">Vaga: Desenvolvedor Front-end</div>
				<div class="controls">
					<button class="min">Minimizar</button>
					<button class="res">Restaurar</button>
					<button class="cl">Fechar</button>
				</div>
			</div>
			<div class="body">
				<div class="history">
					<p class="input clerk">
						<span class="thumb"><img src="/static/res/img/clerk_thumb.jpg" alt="Avatar do atendente"></span>
						<span class="message">
							<span class="content"><span class="text">
									Claro. A Catho fica próximo ao shopping Tamboré, ao lado do prédio da Engevix
								</span>
								<span class="status"></span>
								<span class="from">
									Renata Medeiros<br><strong>Catho</strong>
									<span class="time">enviado as 18h40</span>
								</span></span>
							
						</span>
					</p>
					<p class="input client">
						<span class="thumb">
						<img src="/static/res/img/client_thumb.jpg" alt="Avatar do cliente"></span>
						<span class="message">
							<span class="content"><span class="text">Ótimo! Muito obrigado! <br>Amanhã estarei por ai</span>
								<span class="status"></span>
								<span class="from">
									Você<br>
									<span class="time">enviado a poucos segundos</span>
								</span></span>
						</span>
					</p>
				</div>
			</div>
			<div class="footer">
				<form>
					<fieldset>
						<textarea name="" id="" placeholder="Digite aqui sua mensagem..."></textarea>
					</fieldset>
					<button type="submit">Enviar</button>
					<button type="reset">Limpar</button>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/catho.js"></script>
</body>
</html>